h1 {
  text-align: center;
}

.display {
  display: grid;
  grid-template-rows:repeat(4,fit-content);
  grid-template-columns:20% 20% 20% 20% 20%;
  grid-border:2px solid black;
}

.column {
/*   padding: 25px 0px; */
  border:2px solid lightblue;
  display:grid;
  grid-template-rows:auto;

/*   background:red; */
}
.images{
/*   background:green; */
}

.images img {
  max-width:90%;
  display:flex;
  justify-content:center;
}
.songs{
  display:grid;
}
.songs p {
  font-size: 18px;
/*   height: 100px; */
  font-weight: bold;
  color:white;
  font-weight:600;
/*   margin: 20px; */
}

.artists p {
  font-size: 18px;
/*   height: 100px; */
/*   margin: 20px; */
}

.lengths p {
  font-size: 16px;
/*   height: 100px; */
/*   margin: 20px; */
  text-align: right;
}

.links a {
  display: block;
  font-size: 18px;
/*   height: 100px; */
  font-weight: bold;
/*   margin: 20px; */
}

.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 18px;
  background:lightblue;
}

input {
  padding: 5px 10px;
  font-size: 14px;
  outline:none;
}

button {
  font-size: 14px;
  padding: 5px 10px;
}

.box{
  background:navy;
}
.box.text{
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
