h1 {
  text-align: center;
}

.display {
  display: grid;
  width:100vw;
  grid-template-rows:repeat(4,fit-content);
  grid-auto-rows:fit-content;
  grid-template-columns:repeat(5,20%);
  border:5px solid hotpink;
}

.column {
/*   padding: 25px 0px; */
  display:grid;
  grid-auto-rows:fit-content;
  color:hotpink;

/*   background:red; */
}

.box img {
  max-width:100%;
  display:block;
  margin:0 auto;
}
/* .songs{

} */
.link-text{
  overflow-wrap:break-word;
  transition:0.2s;
}
.link-text:hover{
  text-shadow:0 0 10px white;
  color:white;
  text-decoration:none;
}


.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 18px;
/*   background:lightblue; */
}

input {
  padding: 5px 10px;
  font-size: 14px;
  outline:none;
}

button {
  font-size: 14px;
  padding: 5px 10px;
}

.box{
  background:black;
  border-left:1px solid white;
  border-right:1px solid white;
}


/* This is a practice grid */
.box.text{
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
}


@media only screen and (max-width: 600px){
  .display{
    
  }
}